<hr>
<div class="container pall">
  <h1 class="text-center">CIIA 2018 – COMITÉ ORGANIZADOR</h1>
  <hr>

  <ul>
    <li><b>COMITÉ DE CONFERENCIAS</b></li>
      <ul>
        <li>Profesor Emilio Palomino Olivera</li>
      </ul>
    <br>
    <li><b>COMITÉ DE ORGANIZACIÓN</b></li>
      <ul>
        <li>Profesor Waldo Ibarra Zambrano</li>
      </ul>
    <br>
    <li><b>COMITÉ DE PROGRAMA</b></li>
      <ul>
        <li>Profesor Robert Alzamora Paredes</li>
      </ul>
    <br>
    <li><b>COMITÉ DE TALLERES</b></li>
    <ul>
      <li>Profesor Javier Chavez Centeno</li>
      <li>Profesor Ramon Quispe Onofre</li>
      <li>Profesor Willian Zamalloa Paro</li>
    </ul>
    <br>
    <li><b>MIEMBROS</b></li>
    Abdon Rivas, Dennis Candia,
    Edwin Carrasco,
    Enrique Gamarra,
    Esther Pacheco,
    Guzman Ticona,
    Ivan Medrano,
    Arturo Rozas,
    Jose Pillco,
    Julio Carbajal,
    Karelia Medina,
    Lauro Enciso,
    Lino Baca,
    Lino Flores,
    Luis Palma,
    Manuel Peñaloza,
    Zonia Acurio,
    Rony Villafuerte,
    Yeshica Ormeño.

  </ul>
</div>
