<div class="container">
  <div class="row centered-form">
    <div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="panel-body">
        <form id="formRegister" class="form" #forma="ngForm" (ngSubmit)="AgregarUser()">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <input type="text" id="dni" class="form-control input-sm data" placeholder="DNI" required
                       [(ngModel)]="inscripcion.dni" name="dni"
                       pattern="[0-9]{8}">
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <input type="text" id="nombre" class="form-control input-sm data" placeholder="Nombres" required style="text-transform: capitalize"
                       [(ngModel)]="inscripcion.nombre" name="nombre"
                       pattern="[a-zA-Z ]{2,48}">
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <input type="text" id="apellidos" class="form-control input-sm data" placeholder="Apellidos" required
                       [(ngModel)]="inscripcion.apellidos" name="apellidos"
                       pattern="[a-zA-Z ]{2,48}">
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <input type="email" id="correo" class="form-control input-sm data" placeholder="Correo Electrónico" required
                       [(ngModel)]="inscripcion.correo" name="correo"
                       pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
              </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Inscripción</th>
                  <th>Taller</th>
                  <th>Horario</th>
                  <th>Nombre</th>
                  <th>Ambiente</th>
                  <!--<th>Costo</th>-->
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let data of dates">
                  <td>
                    <div class="form-check">
                      <input (change)="variarCosto($event.currentTarget.checked,data)"
                             class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    </div>
                  </td>
                  <td>{{data["n"]}}</td>
                  <td>{{data["horario"]}}</td>
                  <td>{{data["nombre"]}}</td>
                  <td>{{data["ambiente"]}}</td>
                  <!--<td>S/. {{data["costo"]}}</td>-->
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-4 float-right text-center">
            Total: S/40.00
          </div>
          <br>
          <hr>
          <!--*ngIf="flag"-->
          <button [disabled]="!forma.valid" (click)="mensaje()" class="btn btn-success btn-block">Registrarse</button>
        </form>
        <div  [hidden]="flag"
              class="alert alert-success" role="alert">
          Se registro correctamente.
        </div>
        <button *ngIf="!flag" (click)="report(inscripcion.dni)" class="btn btn-info btn-block">Imprimir</button>
      </div>
    </div>
  </div>
</div>


