<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Registrate Por Favorcito Amiguito</h3>
        </div>
        <div class="panel-body">
          <div id="formRegister" class="form">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <input type="text" name="dni" id="dni" class="form-control input-sm data" placeholder="DNI">
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="nombre" id="first_name" class="form-control input-sm data" placeholder="First Name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="apellidos" id="last_name" class="form-control input-sm data" placeholder="Last Name">
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="email" name="correo" id="email" class="form-control input-sm data" placeholder="Email Address">
            </div>

            <button (click)="AgregarUser()" class="btn btn-info btn-block">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
