<hr>
<div class="container pall">
  <h1 class="text-center">CIIA 2018 – REGISTRO DE AUSPICIADORES</h1>
  <hr>
  <p>El registro de auspiciadores está abierto y será publicado en la presente página WEB.</p>
  <p>Existen 2 modalidades:</p>
  <ul>
    <li>1.	Presentación estelar en el auditorio del paraninfo de las bondades de sus productos (25 minutos).</li>
    <li>2.	Exposición de sus productos en un Stand del patio central del Paraninfo Universitario ubicado en la Plaza de Armas del Cusco.</li>
  </ul>
  <p>Si está interesado en alguna de las modalidades, escriba a <strong>waldo.ibarra@unsaac.edu.pe</strong> o contáctese al teléfono: 984 413788.</p>
</div>
