<hr>
<div class="card">
  <h5 class="card-header text-center">
    Patrocinadores
  </h5>
  <div class="text-center">
    <img src="../../../assets/logo.png" class="img-fluid img-thumbnail img">
  </div>
  <hr>
  <div class="text-center">
    <img src="../../../assets/lenovo.png" class="img-fluid img-thumbnail img">
  </div>
  <hr>
  <div class="text-center">
    <img src="../../../assets/hp.png" class="img-fluid img-thumbnail img">
  </div>
  <hr>
  <div class="text-center">
    <img src="../../../assets/dell.png" class="img-fluid img-thumbnail img">
  </div>
  <hr>
  <div class="text-center">
    <img src="../../../assets/chanintec1.png" class="img-fluid img-thumbnail img">
  </div>
</div>

