<hr>
<div class="container pall">
  <h1>CIIA 2018 ENVIO DE PAPERS</h1>
  <hr>
  <p>
    Envíe su trabajo completo al siguiente correo: ciia2018@unsaac.edu.pe
    <br>
  </p>
  <h5>Cada artículo sólo debe incluir:</h5>

  <ul>
    <li>Título, nombres de los autores, afiliaciones, correos electrónicos, palabras clave y resumen y texto principal. Máximo 6 páginas.</li>
    <li>El formato exigido se encuentra en el link: ciia.unsaac.edu.pe</li>
    <li>Sólo se aceptarán trabajos que estén enmarcados dentro de este formato.</li>
    <li>Envie su trabajo final en formato PDF.</li>
  </ul>
</div>
