<hr>
<div class="container">
  <h1 class="text-center">CIIA 2018: PROGRAMA</h1>
  <hr>
  <h3>CIIA 2018 tiene el siguiente programa:</h3>

  <table class="tg table-responsive" style="overflow-x: auto">
    <colgroup>
      <col style="width: 105.010417px">
      <col style="width: 358.010417px">
      <col style="width: 348.010417px">
      <col style="width: 357.010417px">
    </colgroup>
    <tr>
      <th class="tg-yttb">Hora</th>
      <th class="tg-bl3x">LUNES 14<br></th>
      <th class="tg-bl3x">MARTES  15<br></th>
      <th class="tg-bl3x">MIERCOLES 16</th>
    </tr>
    <tr>
      <td class="tg-bl3x">08.30</td>
      <td class="tg-3xi5"><span style="font-weight:bold"> INAUGURACION </span></td>
      <td class="tg-eh2d"></td>
      <td class="tg-eh2d"></td>
    </tr>
    <tr>
      <td class="tg-bl3x">09:00 a 09:40</td>
      <td class="tg-353h">  Introducción a la Ciencia de Datos<br>    (M.Sc. Roberto Obando Valdivia) <br></td>
      <td class="tg-353h">Microaprendizaje<br>    (Mg. Waldo Ibarra Zambrano)</td>
      <td class="tg-353h">Detectionof voice pathologies in an embedded<br> system using OpenCL MFCC and neuronal networks<br>    (Ing. Pedro Pablo Rumaja Alvites)</td>
    </tr>
    <tr>
      <td class="tg-rpwf"> 09:40 a 10:20 <br></td>
      <td class="tg-353h">  Algoritmos Evolutivos, Búsqueda por Oposición y el <br> Problema de Ordenación por  Reversiones.<br>    (Dr. José Luis Soncco) <br></td>
      <td class="tg-353h">Application of DLAs and Computational Vision in the<br> Medical World<br>    (M. Eng. Gladys Cutipa Arapa)</td>
      <td class="tg-353h">   Recuperación de la información<br>    (Mg. Boris Chullo Llave) </td>
    </tr>
    <tr>
      <td class="tg-rpwf"> 10:20 a 11:00 <br></td>
      <td class="tg-353h">  Supervised  Machine Learning aplicado a la detección<br> de URLs con contenido  malicioso.<br>    (Mg. Edith Rivero Tupac) </td>
      <td class="tg-353h">La importancia del modelado de datos en la era del<br>Bigdata<br>    (Mg. Harley Vera Olivera)</td>
      <td class="tg-353h">  BigData<br>    (Ing. Carlos Manuel Zapata Gutiérrez) </td>
    </tr>
    <tr>
      <td class="tg-rpwf">11:00 a 11:10 </td>
      <td class="tg-7g6k" colspan="3">REFRIGERIO</td>
    </tr>
    <tr>
      <td class="tg-rpwf">11:10 a 11:40</td>
      <td class="tg-353h">  Computación heterogénea<br>    (Mg. Arturo Rozas Huacho) </td>
      <td class="tg-353h">Uso de un clasificador en cascada para detección<br> de la region de interés en el  preprocesamiento de <br>imágenes<br>    (Ing. Karla Gutierrez Lezama)</td>
      <td class="tg-353h">Simuladores Digitales en Tiempo Real Enfocado a<br> Transitorios Eléctromagneticos,Paralelismo-FPGA<br>y Latencia<br>    (Ing. Jesús Bradil Enciso Huarcaya)</td>
    </tr>
    <tr>
      <td class="tg-rpwf">11:40 a 12:20</td>
      <td class="tg-353h">Procesamiento de microarreglos<br>    (Ing. Luis Palma Ttito)</td>
      <td class="tg-353h">Programación de una red neuronal para Bypass<br> Captcha<br>    (Ing. Everth Juvenal Gallegos Puma)</td>
      <td class="tg-353h">  Curricula  Computing Science<br>    (Dr. Ernesto Cuadros) </td>
    </tr>
    <tr>
      <td class="tg-rpwf">12:20 a 13.00</td>
      <td class="tg-353h">Minería de procesos de negocio<br>    (Mg. Ana Rocío Cárdenas Maita)</td>
      <td class="tg-353h">Diseño experimental en Ingeniería del Software<br>    (M. Sc. Yéshica Ormeño Ayala)</td>
      <td class="tg-353h">  Machine learning en servicios Bancarios y<br> Financieros (caso Italia)<br>    (Mg. Gregorio Alexander Alvarez Paredes) </td>
    </tr>
    <tr>
      <td class="tg-rpwf">13.00</td>
      <td class="tg-us36"></td>
      <td class="tg-us36"></td>
      <td class="tg-7btt">CLAUSURA</td>
    </tr>
  </table>

  <br><br>

  <div>
    <h6>LUNES 14 DE MAYO</h6>
    <hr>
    <ol type=”1” start=”10”>
      <b>INAUGURACION DEL EVENTO</b> <br>
      <br>
      <li><b>Introducción a la Ciencia de Datos <br>
        M.Sc. Roberto Obando Valdivia</b>
      </li>
      <p>
        Master en Ciencias de la Computación - Universidad del Estado de California. <br>
        Lic. Físico Matemático, Ing. Civil (UNSAAC). <br>
        Ex docente DAI
      </p>
      <li><b>Algoritmos Evolutivos, Búsqueda por Oposición y el Problema de Ordenación por Reversiones.</b></li>
      <p>
        El problema de ordenación por reversiones, versión sin signos, es un problema de optimización de gran importancia
        en el área de Bioinformática. Diversos algoritmos y técnicas fueron propuestos para resolver este problema, entre
        los cuales tenemos: algoritmos de aproximación y algoritmos evolutivos. Recientemente, estos algoritmos fueron
        combinados con la técnica de búsqueda por oposición consiguiendo mejorar resultados previamente reportados en
        la literatura, específicamente para casos prácticos. <br>
        <b>Dr. José Luis Soncco</b>
      </p>

      <li><b>Supervised Machine Learning aplicado a la detección de URLs con contenido malicioso.</b></li>
      <p>
        Se reconocen los delitos informáticos y cómo es posible detectarlos aprovechando los algoritmos supervisados de
        Machine Learning sobre datos obtenidos de las redes sociales. <br>
        <b>Mgt. Edith Pamela Rivero Tupac</b> <br>
        Maestría en Seguridad Informática - Universidad de Buenos Aires (UBA) <br>
        Ingeniería Informática y de Sistemas - Universidad Nacional de San Antonio Abad del Cusco (UNSAAC) <br>
        TRABAJO ACTUAL: <br>
        Ingeniera de software en Penta Security Solutions. Implementación de soluciones de seguridad especializados en gestión de identidades y accesos privilegiados.
      </p>

      <li><b>Computación heterogénea</b></li>
      <p>
        La Computación heterogénea se refiere a sistemas que usan más de un tipo procesador. Estos son sistemas que ganan en rendimiento no justo por añadir
        el mismo tipo de procesadores, sino por añadir procesadores distintos. Normalmente, incorporando capacidades de procesado especializadas para realizar
        tareas particulares. <br>
        <b>Mg. Arturo Rozas Huacho</b> <br>
        Docente DAI - UNSAAC
      </p>

      <li><b>Procesamiento de microarreglos</b></li>
      <p>Los microarreglos son una tecnología que tiene capacidad de registrar información genética del ADN, esta información es de utilidad para detectar
        mutaciones, detectar enfermedades, ver el progreso de una enfermedad o progreso del tratamiento, también puede ser utilizado con otros propósitos
        como conocer los aspectos en común o las diferencias que tienen dos o más especies de seres vivos. Bioconductor en un paquete del lenguaje
        de programación R que tiene capacidad de realizar diferentes procesos de microarreglos. <br>
        <b>Ing. Luis Palma Titto</b> <br>
        Docente DAI - UNSAAC
      </p>

      <li><b>Minería de procesos de negocio</b></li>
      <p>
        Oportunidades de investigación en el contexto de un área reciente la Minería de Procesos de Negocio, por medio de la aplicación de técnicas de
        Inteligencia computacional y Minería de Datos en la Gestión de Procesos de Negocios. <br>
        <b>Mg. Ana Rocío Cárdenas Maita</b> <br>
        Master de Ciencias  en Sistemas de Información.
      </p>

      <br><br><br><br>
      <h6>MARTES 15 DE MAYO</h6>
      <hr>
      <li><b>Microaprendizaje <br>
        Mg. Waldo Ibarra Zambrano.
      </b>
        <p>Docente DAI - UNSAAC</p>
      </li>

      <li><b>Application of DLAs and Computational Vision in the Medical World</b></li>
      <p>
        En los últimos cinco años las arquitecturas de Machine Learning dominaron la vanguardia de los trabajos de clasificación
        de imágenes. Más, el uso de las DLAs para imágenes médicas es problemática. Sin embargo, técnicas de DLAs como Deep Learning,
        Transfer Learning, o el uso de Semi-supervised Learning se presentan como alternativas para atenuar los desafíos de la aplicación
        en el hermoso mundo médico. <br>
        <b>M. Eng. E. Gladys Cutipa Arapa</b> <br>
        Ing. Informática y de Sistemas – UNSAAC <br>
        Magister en Ingeniería Eléctrica y de Computación en la FEEC UNICAMP, Sao Paulo-Brasil.
      </p>

      <li><b>La importancia del modelado de datos en la era del Bigdata</b></li>
      <p>
        En las tecnologías de bases de datos, algunos de los nuevos problemas cada vez más debatidos son las aplicaciones no convencionales,
        incluidas las bases de datos NoSQL, que se crearon inicialmente en respuesta a las necesidades de mejor escalabilidad, menor latencia
        y mayor flexibilidad en la era del Bigdata y computación en la nube. Estos aspectos no funcionales son la razón principal para usar la
        base de datos NoSQL. Sin embargo, actualmente no existen estudios sistemáticos sobre modelado de datos para bases de datos NoSQL,
        especialmente las orientadas a documentos. Por lo tanto, esta ponencia tocará una propuesta de estándar de modelado de datos NoSQL
        en forma de diagramas ER, introduce técnicas de modelado que pueden utilizarse en bases de datos orientadas a documentos. <br>
        <b>Mg. Harley Vera Olivera</b> <br>
        Ingeniero Informático y de Sistemas – UNSAAC <br>
        Magister en Informática por la "Universidad de Brasília, Brasil"
      </p>

      <li><b>Uso de un clasificador en cascada para detección de la region de interés en el preprocesamiento de imágenes</b></li>
      <p>
        Se presenta un análisis de desempeño de un Clasificador en Cascada para detección de regiones de interés en imágenes, con miras
        a la reducción de costo computacional y optimización de tiempo de ejecución. Los resultados se analizarán en base a un dataset
        de imágenes de libélulas del género Rhionaeschna.<br>
        <b>Ing. Karla Gutierrez Lezama </b> <br>
        Ingeniera Informática y de Sistemas - UNSAAC
      </p>

      <li><b>Programación de una red neuronal para Bypass Captcha</b></li>
      <p>Como leer los caracteres incrustados dentro de los Captchas, y con el uso de las redes neuronales poder adiestrar a nuestro
        script para poder tener un acierto cada vez mayor. <br>
        <b>Ing. Everth Juvenal Gallegos Puma.</b> <br>
        Responsable de la Oficina Funcional de informática, Research Security en Inzafe empresa <br>
        dedicada a realizar los pentesting de los principales bancos del Perú y Sudamérica.
      </p>

      <li><b>Diseño experimental en Ingeniería del Software</b></li>
      <p>
        El estudio de la ingeniería del software es una ciencia de laboratorio, en tal sentido el papel
        del investigador es comprender la naturaleza del objeto, los procesos que los crean y manipulan en
        el contexto del sistema. El proceso en Ingeniería del software no es producción, entonces no podemos
        recolectar datos de repeticiones del mismo proceso. Tenemos que construir nuestros modelos a un nivel superior de abstracción.
        Los temas que se abordaran estarán en torno a  la planeación y definición de los experimento, diseño del experimento,
        procedimiento del experimento  y evaluación de la validación del experiment. <br>
        <b>M. Sc. Yeshica Isela Ormeño Ayala</b> <br>
        Realizó estudios de Doctorado en Informática por la Universidad Politécnica de Valencia - España, obtuvo el Master en
        "Tecnologías Informáticas Avanzadas" en la Universidad Castilla La Mancha - España, investigadora del Centro de Investigación
        en Métodos de Producción de Software (PROS) Valencia - España. Actualmente es profesora del Departamento Académico
        de Informática de la UNSAAC, con la categoría de Docente Investigador REGINA. Tiene como linea de investigación:
        Human Computer Interaction, Usability, Requirements Engineering, User Interface, UI mobile, Model Driven Development and Software Engineering.
      </p>

      <br><br><br><br>
      <h6>MIERCOLES 16 DE MAYO</h6>
      <hr>
      <li><b>Detection of voice pathologies in an embedded system using OpenCL MFCC and neuronal networks</b>
      </li>
      <p>
        Los estudios para la detección de patologías en la voz como: la disfonía, afonía, cáncer de laringe, etc.,
        son realizadas por un médico especialista. Sin embargo, el avance vertiginoso del mundo de la computación y
        la electrónica facilitan el uso de Plataformas de Sistemas Embebidos para realizar la detección de diferentes males, como el cáncer de laringe.<br>
        <b>Ing. Pedro Pablo Rumaja Alvites</b> <br>
        Estudiante de Maestría en Ciencias – Mención Informática – UNSAAC
      </p>


      <li><b>Recuperación de la información: Un nuevo enfoque.</b></li>
      <p>
        Recuperación de la información es uno de los pilares de   una rama de la computación que es la “Teoría de la computación”, requiere un estudio exhaustivo del procesamiento de señales, análisis vectorial y técnicas de computación.
        No solo se basa en recuperar la información ya conocida, sino también es posible recuperar completamente la información (desconocida) a partir de un conjunto de muestras extraídas de la información en mención.  A esta teoría se le conoce como “Compressive Sensing”
        <br>
        <b>Mg. Boris Chullo Llave</b> <br>
        Ingeniero Informático y de Sistemas – UNSAAC
      </p>


      <li><b>BigData</b></li>
      <p>
        Big Data es un término que describe el gran volumen de datos, tanto estructurados como no estructurados,
        que inundan los negocios cada día. Pero no es la cantidad de datos lo que es importante. Lo que importa con el Big Data
        es lo que las organizaciones hacen con los datos. Big Data se puede analizar para obtener ideas que conduzcan a mejores decisiones
        y movimientos de negocios estratégicos.<br>
        <b>Ing. Carlos Manuel Zapata Gutiérrez</b> <br>
        Telefónica del Perú SAA.
      </p>

      <li><b>Simuladores Digitales en Tiempo Real Enfocado a Transitorios Electromagnéticos, Paralelismo-FPGA y Latencia</b></li>
      <p>
        Estado del arte de simuladores digitales en tiempo real, su evolución y funcionamiento conjuntamente con los estudios que se realizan
        con el paralelismo en tarjetas FPGA y su latencia en las simulaciones. <br>
        <b>Ing. Jesús Bradil Enciso Huarcaya </b> <br>
        Ingeniero Electricista – UNSAAC. <br>
        Candidato a Magister en Ciencias, Mención Informática. <br>
        Consultor en estudios y Proyectos en el sector Electricidad. <br>
        Docente en el CETPRO, UNSAAC.
      </p>

      <li><b>Currícula de Ciencias de la Computación</b></li>
      <p><b>Dr. Ernesto Cuadros Vargas </b> <br>
        Doctor en Ciencia de la Computación en el ICMC de la Universidad de Sao Paulo (Brasil)
      </p>

      <li><b>Machine Learning en servicios Bancarios y Financieros</b></li>
      <p>
        El año 2018 se presenta lleno de innovaciones para el sector de servicios bancarios y financieros en todo el mundo.
        Con las empresas emergentes de banca abierta y de tecnología financiera (las denominadas FinTech) siguiéndolos muy
        de cerca, los bancos tradicionales buscarán nuevas formas de proteger no solo su posición competitiva, sino también
        la información y las cuentas de sus usuarios ante la contundente disrupción digital. <br>
        <b>Mg. Gregorio Alexander Alvarez Paredes.</b> <br>
        Master en Business Administration (Roma-Italia) <br>
        Master en Dirección Estratégica en Ingeniería de Software (Valladolid-España) <br>
        Master in Data Science for Economics, Business and Finance (Roma-Italia) <br>
        <br>
      <b>CLAUSURA DEL EVENTO</b>
    </ol>

    <br><br><br><br>
    <h6>TALLERES (CARRERA PROFESIONAL DE INGENIERIA INFORMÁTICA Y DE SISTEMAS)</h6>
    <hr>
    <ol type=”1” start=”10”>
      <li><b>Angular 5.</b></li>
      <p>Erick Choque Champi</p>
      <li><b>SAILS (Framework para Node).</b></li>
      <p>Edwin Alvarez Mamani</p>
      <li><b>Spring Web Flux.</b></li>
      <p>Warren Aroni Soto</p>
      <li><b>Procesamiento de microarreglos.</b></li>
      <p>Ing. Luis Palma Titto</p>
      <li><b>Computación heterogénea - Programación paralela con CUDA.</b></li>
      <p>
        Mg. Arturo Rozas Huacho <br>
        Ing. Iván Medrano Valencia.
      </p>
    </ol>
  </div>

</div>
