<hr>
<div class="container pall">
  <h1 class="text-center">CIIA 2018 PROGRAMA</h1>
  <hr>
  <h3>CIIA 2018 tiene el siguiente programa </h3>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Actividad</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="tg-us36">Fecha</th>
      <th class="tg-us36">Hora</th>
      <th class="tg-us36">Actividad</th>
    </tr>
    <tr>
      <td class="tg-us36">Mayo 13, 2018</td>
      <td class="tg-us36">8 a.m.<br>9 a.m.<br>3 a.m.</td>
      <td class="tg-us36">Registro de participantes y apertura del evento.<br>Presentación de artículos-Paraninfo Universitario-Plaza de Armas Cusco.<br>Talleres de aplicación-Laboratorios de Informática-UNSAAC.<br> </td>
    </tr>
    <tr>
      <td class="tg-us36">Mayo 13, 2018</td>
      <td class="tg-us36">9 a.m.<br>3 a.m.</td>
      <td class="tg-us36">Presentación de artículos-Paraninfo Universitario-Plaza de Armas Cusco.<br>Talleres de aplicación-Laboratorios de Informática-UNSAAC.<br></td>
    </tr>
    <tr>
      <td class="tg-us36">Mayo 13, 2018</td>
      <td class="tg-us36">9 a.m.<br>3 a.m.</td>
      <td class="tg-us36">Presentación de artículos-Clausura del evento-Paraninfo Universitario-Plaza de Armas.<br>Talleres de aplicación-Laboratorios de Informática-UNSAAC.<br></td>
    </tr>
    </tbody>
  </table>

</div>
