<hr>
<div class="container pall">
  <h1 class="text-center">CIIA 2018: PROGRAMA</h1>
  <hr>
  <h3>CIIA 2018 tiene el siguiente programa:</h3>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th rowspan="1" scope="col">Fecha</th>
      <th rowspan="1" scope="col">Hora</th>
      <th rowspan="1" scope="col">Actividad</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="3" class="tg-us36">Mayo 14, 2018</td>
      <td class="tg-us36">08.00hrs</td>
      <td class="tg-us36">Registro de participantes y apertura del evento.<br> </td>
    </tr>
    <tr>
      <td class="tg-us36">09.00hrs</td>
      <td>Presentación de artículos-Paraninfo Universitario-Plaza de Armas Cusco.</td>
    </tr>
    <tr>
      <td class="tg-us36">15.00hrs</td>
      <td>Talleres de aplicación-Laboratorios de Informática-UNSAAC.</td>
    </tr>
    <tr>
      <td rowspan="2" class="tg-us36">Mayo 15, 2018</td>
      <td class="tg-us36">09.00hrs</td>
      <td>Presentación de artículos-Paraninfo Universitario-Plaza de Armas Cusco.</td>
    </tr>
    <tr>
      <td class="tg-us36">15.00hrs</td>
      <td>Talleres de aplicación-Laboratorios de Informática-UNSAAC.</td>
    </tr>
    <tr>
      <td rowspan="2" class="tg-us36">Mayo 16, 2018</td>
      <td class="tg-us36">09.00hrs</td>
      <td>Presentación de artículos-Clausura del evento-Paraninfo Universitario-Plaza de Armas.</td>
    </tr>
    <tr>
      <td class="tg-us36">15.00hrs</td>
      <td>Talleres de aplicación-Laboratorios de Informática-UNSAAC.</td>
    </tr>
    </tbody>
  </table>
</div>
