.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-353h{background-color:#daeef3;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-lv64{background-color:#9ac2e5;border-color:inherit;vertical-align:top}
.tg .tg-4f0n{background-color:#000000;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-z5sg{background-color:#2c76b9;color:#ffffff;border-color:inherit;vertical-align:top}
.tg .tg-rzau{background-color:#9ac2e5;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-5fw1{background-color:#daeef3;border-color:inherit;vertical-align:top}
.tg .tg-u5vy{background-color:#2c76b9;color:#ffffff;border-color:#16365c;vertical-align:top}
.tg .tg-wtqb{font-weight:bold;background-color:#9ac2e5;border-color:inherit;vertical-align:top}
