<hr>
<div class="container">
  <h1 class="text-center">CIIA 2018: Talleres</h1>
  <hr>
  <h3>CIIA 2018 tiene los siguientes talleres:</h3>
  <hr>
  <table class="tg table-responsive" style="overflow-x: auto">
    <colgroup>
      <col style="width: 164px">
      <col style="width: 301px">
      <col style="width: 269px">
      <col style="width: 117px">
    </colgroup>
    <tr>
      <th class="tg-4f0n">  Fecha</th>
      <th class="tg-4f0n">  Nombre Taller<br></th>
      <th class="tg-4f0n">  Ponente<br></th>
      <th class="tg-4f0n">Laboratorio</th>
    </tr>
    <tr>
      <td class="tg-z5sg">14,15 y 16 de Mayo<br>15:00 - 17:00</td>
      <td class="tg-lv64">T1:Angular5<br>Grupo A</td>
      <td class="tg-lv64">Erik Choque</td>
      <td class="tg-rzau">301</td>
    </tr>
    <tr>
      <td class="tg-z5sg">14,15 y 16 de Mayo<br>15:00 - 17:00</td>
      <td class="tg-5fw1">T3:Spring Web Flux<br>Grupo A</td>
      <td class="tg-5fw1">Warren Aroni</td>
      <td class="tg-353h">302</td>
    </tr>
    <tr>
      <td class="tg-u5vy">14,15 y 16 de Mayo<br>17:00 - 19:00</td>
      <td class="tg-lv64">T2:SAILS (Framework para Node)<br>Grupo A</td>
      <td class="tg-lv64">Edwin Alvarez</td>
      <td class="tg-rzau">301</td>
    </tr>
    <tr>
      <td class="tg-u5vy">14,15 y 16 de Mayo<br>17:00 - 19:00</td>
      <td class="tg-5fw1">T4: Programación de Microarreglos<br>Grupo A</td>
      <td class="tg-5fw1">Luis Palma</td>
      <td class="tg-353h">302</td>
    </tr>
    <tr>
      <td class="tg-u5vy">14,15 y 16 de Mayo<br>17:00 - 19:00</td>
      <td class="tg-wtqb">T5:Computación paralela (CUDA-openCL)<br>Grupo A</td>
      <td class="tg-lv64">Arturo Rozas</td>
      <td class="tg-rzau">303</td>
    </tr>
    <tr>
      <td class="tg-u5vy">14,15 y 16 de Mayo<br>17:00 - 19:00</td>
      <td class="tg-5fw1">T6:Computación paralela (CUDA-openCL)<br>Grupo B</td>
      <td class="tg-5fw1">Ivan Medrano</td>
      <td class="tg-353h">304</td>
    </tr>
    <tr>
      <td class="tg-u5vy">14,15 y 16 de Mayo<br>17:00 - 19:00</td>
      <td class="tg-lv64">T7:Inteligencia de negocios<br>Grupo A</td>
      <td class="tg-lv64">Maria Venegas</td>
      <td class="tg-rzau">305</td>
    </tr>
    <tr>
      <td class="tg-z5sg">14,15 y 16 de Mayo<br>17:00 - 19:00</td>
      <td class="tg-5fw1">T8:Intrducción a TensorFlow<br>Grupo A</td>
      <td class="tg-5fw1">Jeanfranco Farfán</td>
      <td class="tg-353h">306</td>
    </tr>
  </table>

    <br><br>
    <h6>TALLERES (CARRERA PROFESIONAL DE INGENIERIA INFORMÁTICA Y DE SISTEMAS)</h6>
    <hr>
    <ol type=”1” start=”10”>
      <li><b>Angular.</b></li>
      <p>Erik Choque Champi</p>
      <li><b>SAILS (Framework para Node).</b></li>
      <p>Edwin Alvarez Mamani</p>
      <li><b>Spring Web Flux.</b></li>
      <p>Warren Aroni Soto</p>
      <li><b>Procesamiento de microarreglos.</b></li>
      <p>Ing. Luis Palma Titto</p>
      <li><b>Computación heterogénea - Programación paralela con CUDA.</b></li>
      <p>
        Mg. Arturo Rozas Huacho <br>
        Ing. Iván Medrano Valencia.
      </p>
      <li><b>Inteligencia de Negocios.</b></li>
      <p>Maria Venegas</p>
      <li><b>Introducción a TensorFlow</b></li>
      <p>Ing. Jeanfranco Farfan</p>
    </ol>
  </div>
