<hr>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" routerLink="inicio">Inicio</li>
    <li class="list-group-item" routerLink="programa">Programa</li>
    <li class="list-group-item" routerLink="llamamiento">Presentación de Papers</li>
    <li class="list-group-item" routerLink="registro">Registro</li>
    <li class="list-group-item" routerLink="invitacion">Invitacion a Sponsors</li>
    <li class="list-group-item" routerLink="comite">Comite del Programa</li>
    <li class="list-group-item" routerLink="lugar">Lugar</li>
  </ul>
</div>
<div class="card text-white bg-danger mb-3 dbj">
  <div class="card-body">
    <div>
      <p>Publicacion de los artículos en la revista informática de la UNSAAC.</p>
    </div>
  </div>
</div>
