<hr>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Inicio</li>
    <li class="list-group-item">Programa</li>
    <li class="list-group-item">Llamamiento de Papers</li>
    <li class="list-group-item">Envio de Papers</li>
    <li class="list-group-item">Registro</li>
    <li class="list-group-item">Invitacion a Sponsors</li>
    <li class="list-group-item">Fechas Importantes</li>
    <li class="list-group-item">Comite del Programa</li>
    <li class="list-group-item">Lugar</li>
    <li class="list-group-item">Llamamiento a Revisores</li>
  </ul>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 18rem; margin-top: 20px">
  <div class="card-body">
    <div>
      <p>Publicacion de los artículos en la revista informática de la UNSAAC</p>
    </div>
  </div>
</div>
