<hr>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="inicio">Inicio</a></li>
    <li class="list-group-item"><a href="programa">Programa</a></li>
    <li class="list-group-item"><a href="llamamiento">Llamamiento de Papers</a></li>
    <li class="list-group-item"><a href="envio">Envio de Papers</a></li>
    <li class="list-group-item"><a href="registro">Registro</a></li>
    <li class="list-group-item"><a href="invitacion">Invitacion a Sponsors</a></li>
    <li class="list-group-item"><a href="fechas">Fechas Importantes</a></li>
    <li class="list-group-item"><a href="comite">Comite del Programa</a></li>
    <li class="list-group-item"><a href="lugar">Lugar</a></li>
    <li class="list-group-item"><a href="revisores">Llamamiento a Revisores</a></li>
  </ul>
</div>
<div class="card text-white bg-danger mb-3 dbj">
  <div class="card-body">
    <div>
      <p>Publicacion de los artículos en la revista informática de la UNSAAC</p>
    </div>
  </div>
</div>
