<div class="container-fluid" id="main">

    <div class="row">
      <div class="col-xl-2  col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img class="img-fluid img-thumbnail dbj" src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Universidad_Nacional_de_San_Antonio_Abad_del_Cusco_Peru.jpg" alt="">
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <app-header></app-header>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img class="img-fluid img-thumbnail dbj" src="http://photos.wikimapia.org/p/00/03/62/97/67_big.jpg" alt="">
      </div>
    </div>


    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <app-side-bar></app-side-bar>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <!--<app-body></app-body>-->
        <router-outlet></router-outlet>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <app-side-sponsor></app-side-sponsor>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-footer></app-footer>
      </div>
    </div>
</div>
