<div class="container-fluid" id="main">

    <div class="row">
      <div class="col-xl-2  col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img class="img-fluid img-thumbnail dbj" src="../assets/ext.jpg" alt="">
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <app-header></app-header>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img class="img-fluid img-thumbnail dbj" src="../assets/int.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <app-side-bar></app-side-bar>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <router-outlet></router-outlet>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <app-side-sponsor></app-side-sponsor>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-footer></app-footer>
      </div>
    </div>
</div>
