<div class="container-fluid" id="main">

    <div class="row">
      <div class="col-xl-2  col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img class="img-fluid img-thumbnail dbj" src="http://78.media.tumblr.com/41f3c299a2b055f723f2311bcf05afdd/tumblr_oj9wll7Xaa1vu7pu6o1_1280.jpg" alt="">
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <app-header></app-header>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img class="img-fluid img-thumbnail dbj" src="http://static.wixstatic.com/media/87f18a_54ca09ca8aaf5ec6f4af07696daafd2e.jpg/v1/fill/w_357,h_267,al_c,q_80,usm_0.66_1.00_0.01/87f18a_54ca09ca8aaf5ec6f4af07696daafd2e.webp" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <app-side-bar></app-side-bar>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <!--<app-body></app-body>-->
        <router-outlet></router-outlet>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <app-side-sponsor></app-side-sponsor>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-footer></app-footer>
      </div>
    </div>
</div>
