<div class="container pall">
  <h1 class="text-center">CIIA2018 – LOCALIZACIÓN</h1>
  <hr>
  <p>La <b>CONFERENCIA INTERNACIONAL EN INTELIGENCIA ARTIFICIAL y DESARROLLO MODERNO DE SOFTWARE – CIIA 2018</b>  se efectuará en la ciudad del Cusco, del 14 al 16 de Mayo de 2018.</p>
  <p>Las conferencias serán dadas en el auditorio del Paraninfo Universitario Cusco, ubicado en la Plaza de Armas de la ciudad del Cusco, de 9 a.m. a 13 p.m.</p>
  Los talleres se darán en los laboratorios de la Escuela Profesional de Ingeniería Informática y de Sistemas de la Universidad Nacional de San Antonio Abad del Cusco (Av. De la Cultura N° 733 – Cusco), de 3 p.m. a 7 p.m.

</div>
