<hr>
<div class="container pall">
  <h1 class="text-center">CIIA 2018: PRESENTACIÓN Y ENVIO DE PAPERS</h1>
  <hr>
  <p>
    Se aceptan contribuciones en el área de Inteligencia Artificial, aunque no está limitado a estos temas.
    Estas contribuciones pueden haber sido publicadas con anterioridad.
  </p>
  <br>
  <p>
    Envíe su trabajo completo al siguiente correo: <strong >robert.alzamora@unsaac.edu.pe</strong>
  </p>
  <hr>
  <ul>
    <li>Cada artículo sólo debe incluir:
      <ul>
        <li>Título, nombres de los autores, afiliaciones, correos electrónicos, palabras clave y resumen y texto principal.</li>
        <li>Envie su trabajo final en formato PDF.</li>
      </ul>
    </li>
  </ul>
</div>
