<hr>
<div class="container pall">

    <h1 class="text-center">CIIA 2018</h1>
    <hr>
  <br>
    <p>
      <strong>La CONFERENCIA INTERNACIONAL EN INTELIGENCIA ARTIFICIAL y DESARROLLO MODERNO DE SOFTWARE – CIIA 2018</strong>
      se efectuará en la ciudad del Cusco, del 14 al 16 de Mayo de 2018. Todos los trabajos de investigación y desarrollo
      relacionados con los temas de nuestra conferencia pueden enviarse.
    </p>
  <br>
    <p>
      Esta serie de conferencias CIIA será un punto de encuentro único para los expertos, investigadores, desarrolladores,
      profesionales y estudiantes en el área de Inteligencia Artificial.
    </p>
  <br>
    <p>
      Esta Conferencia brindará la oportunidad de exponer y publicar los resultados de sus investigaciones. Así mismo
      servirá como inspiración a nuevos investigadores. Los artículos aceptados serán publicados en la Revista Informática
      de la Universidad Nacional de San Antonio Abad del Cusco, tanto en su formato físico como digital.
    </p>
</div>
