<div class="container pall">

    <h1 class="text-center">CIIA 2018</h1>
    <hr>
    <p>
      <strong>La CONFERENCIA INTERNACIONAL EN INTELIGENCIA ARTIFICIAL y DESARROLLO MODERNO DE SOFTWARE – CIIA 2018</strong>
      se efectuará en la ciudad del Cusco, del 14 al 16 de Mayo de 2018. Todos los trabajos de investigación
      y desarrollo relacionados con los temas de nuestra conferencia pueden enviarse. Por favor, consulte nuestra
      página de envío para ver el formato en papel y cómo enviarlo.
    </p>
    <p>
      Esta serie de conferencias CIIA será un punto de encuentro único para los expertos, investigadores, desarrolladores,
      profesionales y estudiantes en el área de Inteligencia Artificial y Desarrollo Moderno de Software.
      Vivimos en una era donde el cambio es una constante, con la aparición de nuevas metodologías que se desarrollan a diario.
    </p>
    <p>
      Esta Conferencia nos brindará la oportunidad de exponer y publicar los resultados de sus investigaciones. Asimismo servirá
      como inspiración a nuevos investigadores.
      Los artículos aceptados serán publicados en la Revista Informática de la Universidad Nacional de San Antonio Abad del Cusco,
      tanto en su formato físico como digital.
    </p>
</div>
